* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary: rgb(25, 25, 24);
    --background-secondary: rgb(41, 41, 40);
    --resaltado: rgb(234, 144, 49);
    --text_color: white;
    --color_menu_lateral: rgb(50, 50, 48);
}

.container-windows{
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    height: 100vh;
    width: 100vw;
    overflow:hidden;}

.container{
    width: 100%;
    height: 85%;
    display: flex;}



.container-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;}

.title-home{
    color: var(--text_color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}



/* Menu Lateral */
.menu-lateral{
    height: 100%;
    width: 20%;
    max-width: 300px;
    background-color: var(--color_menu_lateral);
    display: flex;
    flex-direction: column;
    gap: 0.5px;}

.item-menu{
    height: 45px;
    width: 100%;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    &:hover{
        background-color: var(--color_menu_lateral);
        cursor: pointer;  
    }}

.title-item{
    text-align: center;
    color: var(--text_color);
    font-size:16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;}

.title-menu{
    justify-self:start;
    font-size: 20px;
    font-weight: bold;
    color: var(--resaltado);}











/* Lista de canciones */

.lista-canciones{
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
   

    /* Ancho del scroll vertical y alto del horizontal */
    &::-webkit-scrollbar {
        width: 8px; 
    }
    /* Color de fondo de la pista */
    &::-webkit-scrollbar-track {
        background: var(--background-secondary);
        border-radius: 4px;
    }
    /* Color y estilo de la barra deslizante */
    &::-webkit-scrollbar-thumb {
        background: var(--color_menu_lateral);
        border-radius: 4px;
    }

    /* Color de la barra cuando se pasa el cursor */
    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
    }
}

.item-lista{
    list-style: none;
    color: white;

    width: 100%;
    padding: 10px;
    height: 50px;

    display: flex;
    gap: 1px;

    &:hover{
        background-color: var(--color_menu_lateral);
        cursor: pointer;
    }
}

.item-par{
    background-color: var(--background-primary);
}


.active{
    color: var(--resaltado);
}

.target-music-title{
    width: 60%;
    white-space: nowrap;       /* Evita que el texto baje de línea */
    overflow: hidden;          /* Oculta lo que sobresale */
    text-overflow: ellipsis;   /* Añade los puntos suspensivos (...) */
}

.target-music{
    width: 10%;
    white-space: nowrap;       /* Evita que el texto baje de línea */
    overflow: hidden;          /* Oculta lo que sobresale */
    text-overflow: ellipsis;   
}


/* Barra de reproductor */
.barra-reproductor{
    height: 15%;
    width: 100%;
    background-color: var(--background-secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    gap: 1px;
    border-radius: 0;
}



.audio{
    width: 100%;
    height: 25%;
}

.botton-btns {
    display: flex;
    align-items: center; /* Centra verticalmente la carátula y los botones */
    justify-content: space-between; /* Empuja la carátula a la izquierda y los botones a la derecha/centro */
    gap: 10px;
    height: 75%;
    width: 100%;
    padding: 2px;
}

.btns {
    display: flex;
    align-items: center; /* Centra los botones verticalmente en su contenedor */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px;
    height: 100%;
    flex-grow: 1; /* Opcional: hace que ocupe el espacio restante para centrarse mejor */
 
    & button {
        background-color: var(--background-primary);
        width: 90px;
        height: 40px; /* Asegura una altura fija o adaptable para que el centrado vertical luzca bien */
        border-radius: 16px;
        border: 0;
        color: var(--text_color);
        cursor: pointer;
        /* justify-self no funciona en flexbox, se usa align-self si se quiere alinear uno solo */
    }
}

.caratula{
    width: 100px;
    height: 55px;
    object-fit: cover;
}
