* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary: rgb(25, 25, 24);
    --background-secondary: rgb(41, 41, 40);
    --resaltado: rgb(234, 144, 49);
    --text_color: white;
    --color_menu_lateral: rgb(50, 50, 48);
}

.container-windows{
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.container{
    width: 100%;
    height: 85%;
    display: flex;}


.container-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;}

.title-selected{
    color: var(--text_color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}



/* Menu Lateral */
.menu-lateral{
    height: 100%;
    width: 20%;
    max-width: 300px;
    background-color: var(--color_menu_lateral);
    display: flex;
    flex-direction: column;
    gap: 0.5px;}

.item-menu{
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-left: 16px;

    display: flex;
    align-items: center;
    border: 0;
    background-color: var(--color_menu_lateral);
    gap: 10px;

    &:hover{
        background-color: var(--background-secondary);
        cursor: pointer;  
    }}

.title-item{
    text-align: center;
    color: var(--text_color);
    font-size:18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.title-menu{
    justify-self:start;
    font-size: 20px;
    font-weight: bold;
    color: var(--resaltado);
    padding-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.item-active{
    background-color: var(--background-primary);
}

.item-title{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Barra de reproductor */
.barra-reproductor{
    height: 15%;
    width: 100%;
    background-color: var(--background-secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    gap: 1px;
    border-radius: 0;
}

.audio{
    width: 100%;
    height: 25%;
    filter: invert(1) hue-rotate(180deg);
    border-radius: 0px;
    opacity: .5;
}

.botton-btns {
    display: flex;
    align-items: center; /* Centra verticalmente la carátula y los botones */
    justify-content: space-between; /* Empuja la carátula a la izquierda y los botones a la derecha/centro */
    gap: 1px;
    height: 75%;
    width: 100%;
    padding: 2px;
}

.btns {
    display: flex;
    align-items: center; /* Centra los botones verticalmente en su contenedor */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 5px;
    height: 100%;
    width: 30%;

    & button {
        background-color: var(--background-primary);
         /* Asegura una altura fija o adaptable para que el centrado vertical luzca bien */
        border-radius: 8px;
        border: 0;
        color: var(--text_color);
        cursor: pointer;
        padding: 10px;

        &:hover{
            background-color: var(--resaltado);
        }
    }
}

.btns-adicionales{
    width: 35%;
    height: 100%;
    background-color: var(--background-primary);
}

.container-caratula{
    width: 35%;
    height: 100%;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;

    &:hover{
        background-color: var(--resaltado);
        cursor: pointer;
    }
}

.caratula{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.title-reproductor-music{
    color: var(--text_color);
    white-space: nowrap;       
    overflow: hidden;        
    text-overflow: ellipsis;   
}

.icon{
    width: 30px;
    height: 30px;
}

.icon-arrow{
    width: 30px;
    height: 20px;
}


/* PANTALLAS */

.container-hide{
    display: none;
}
/* Lista de canciones */

.container-lista-canciones{
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
   

    /* Ancho del scroll vertical y alto del horizontal */
    &::-webkit-scrollbar {
        width: 8px; 
    }
    /* Color de fondo de la pista */
    &::-webkit-scrollbar-track {
        background: var(--background-secondary);
        border-radius: 4px;
    }
    /* Color y estilo de la barra deslizante */
    &::-webkit-scrollbar-thumb {
        background: var(--color_menu_lateral);
        border-radius: 4px;
    }

    /* Color de la barra cuando se pasa el cursor */
    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
    }
}

.item-lista{
    list-style: none;
    color: white;

    width: 100%;
    padding: 10px;
    height: 50px;

    display: flex;
    gap: 20px;
    align-items: center;

    &:hover{
        background-color: var(--color_menu_lateral);
        cursor: pointer;
    }
}

.item-par{
    background-color: var(--background-primary);
}

.active{
    color: var(--resaltado);
}

.target-music-title{
    width: 60%;
    white-space: nowrap;       /* Evita que el texto baje de línea */
    overflow: hidden;          /* Oculta lo que sobresale */
    text-overflow: ellipsis;   /* Añade los puntos suspensivos (...) */
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.target-music{
    width: 15%;
    white-space: nowrap;       /* Evita que el texto baje de línea */
    overflow: hidden;          /* Oculta lo que sobresale */
    text-overflow: ellipsis; 
     font-size: 14px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Home */

.home-container{
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Expandir barra reproductor */
.expandir-barra{
    width: 100%;
    height: 100%;
}

.container-caratula-expandida{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.caratula-expandida{
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin-top: 32px;
}

.title-reproductor-music-expandido{
    font-size: 25px;
    padding: 40px;
    color: var(--text_color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn-hide-reproductor{
    align-self: flex-start;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.botton-btns-expandidos{
    display: flex;
    align-items: center; /* Centra verticalmente la carátula y los botones */
    justify-content: center; /* Empuja la carátula a la izquierda y los botones a la derecha/centro */
    height: 15%;
    width: 100%;
    padding: 10px;
}
