:root{
    --background-primary: rgb(25, 25, 24);
    --background-secondary: rgb(41, 41, 40);
    --resaltado: rgb(234, 144, 49);
    --text_color: white;
    --color_menu_lateral: rgb(50, 50, 48);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-primary);
}

.container-reproductor{
    background-color: var(--background-primary);
    padding: 15px;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.metadata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.title-music{
    color: var(--text_color);
}

.caratula{
    width: 600px;
    height: 400px;
    object-fit: contain;
    border-radius: 16px;
}

.audio{
    width: 100%;
    filter: sepia(20%) saturate(70%) hue-rotate(190deg);
}


.link-back{
    text-decoration: none;
    font-size: 35px;
    width: 55px;
    border-radius: 10px;

    &:hover{
        background-color: var(--background-secondary);
    }
}